@import "../../global.scss";

.faq {
	display: flex;
	align-items: center;
	justify-content: center;

	@include mobile-sm {
		margin: 50px auto;
		flex-direction: column;
	}

	.left {
		display: flex;
		justify-content: center;
		align-items: center;
		flex: 1;
		background-color: $primaryColor;
		border-radius: 0px 20px 20px 0px;
		height: 50%;
		img {
			width: 50%;
		}
	}
	.right {
		display: flex;
		flex: 1;
		margin: 0px 20px 50px 20px;
	}
}

.styles_faq-row-wrapper__3vA1D
	.styles_row-body__1NvUo
	.styles_faq-row__2YF3c
	.styles_row-title__1YiiY
	.styles_icon-wrapper__2cftw {
	overflow: hidden;
}

.faq-row-wrapper {
	.faq-title {
	}

	.faq-body {
		.faq-row {
			border: none;
			.row-title {
				border: solid 1px gray;

				padding: 5px;
				font-weight: 700;
			}

			.row-content {
				background-color: $secondaryColor;
				border: none;

				.row-content-text {
					color: #fff;
					padding: 10px;
				}
			}
		}
	}
}
