@import "../../global.scss";
.p {
	width: 28%;
	height: 30vh;
	margin: 20px 10px;
	border: 2px solid $primaryColor;
	border-radius: 10px 10px 0px 0px;
	overflow: hidden;
	position: relative;
	@include mobile-md {
		width: 27%;
		height: 30vh;
		margin: 15px 10px;
	}

	@include mobile-sm {
		width: 42%;
		margin: 15px 10px;
		height: 250px;
	}

	@include mobile-xs {
		width: 100%;
		margin: 15px 10px;
		height: 400px;

		&:focus {
			transform: translateY(-100%);
		}
	}
}

.p-browser {
	height: 20px;
	background-color: $primaryColor;
	display: flex;
	align-items: center;
	position: sticky;
	z-index: 2;
}

.p-circle {
	width: 6px;
	height: 6px;
	border-radius: 50%;
	margin: 3px;
	background-color: white;
}

.p-img {
	width: 100%;
	transition: all 10s ease;
}

.p:hover .p-img {
	transform: translateY(-100%);
}

.p-name {
	position: absolute;
	bottom: 0;
	z-index: 2;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	background-color: $secondaryBgColor;
	font-weight: 700;
	color: #000;
	padding: 5px;
	width: 100%;
}
