@import "./global.scss";
.app {
	height: 100vh;
	position: relative;
	@include mobile-sm {
		height: 100%;
	}

	.sections {
		width: 100%;
		height: calc(100vh - 70px);

		@include mobile-sm {
			height: 100%;
			scroll-snap-type: none;
		}

		position: relative;
		margin-top: 70px;
		scroll-behavior: smooth;
		scroll-snap-type: y mandatory;
		scrollbar-width: none; //for firefox
		&::-webkit-scrollbar {
			display: none;
		}

		> * {
			width: 100vw;
			height: calc(100vh - 70px);
			scroll-snap-align: start;

			@include mobile-sm {
				height: 100%;
				width: 100%;
				scroll-snap-align: unset;
			}
		}
	}
}

.whatsapp {
	position: fixed;
	right: 20px;
	bottom: 10px;
	background-color: $primaryColor;
	color: #fff;
	width: 1em !important;
	height: 1em !important;
	padding: 10px;
	border-radius: 50%;
	z-index: 5;
	cursor: pointer;
}
